<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- http://limingnihao.iteye.com/blog/781878 -->
<!-- http://www.cnblogs.com/sin90lzc/archive/2012/06/30/2571175.html -->
<!-- https://my.oschina.net/wangrikui/blog/510189 -->
<!-- http://computerdragon.blog.51cto.com/6235984/1399742 -->

<mapper namespace="com.ctbc.mapper.DeptMapper">  <!-- "必須"對應 mapper interface 所在的包 -->
	
	
	<resultMap id="resultMapDept" type="com.ctbc.model.vo.DeptVO">
	<!-- <resultMap id="resultMapDept" type="fuckDeptVO"> -->
		<id property="deptNo" column="deptno"/>
		<result property="deptName" column="dname"/>
		<result property="deptLoc" column="loc"/>
	</resultMap>
    
    <select id="getAll" resultMap="resultMapDept">  
       SELECT * FROM z40180_deptTB 
    </select>  
    
    <select id="getAllForMap" resultType="map">
    	SELECT * FROM z40180_deptTB 
    </select>
    
	<select id="getDeptByIdForMap" parameterType="int" resultType="java.util.Map">
		SELECT * FROM z40180_deptTB WHERE deptno = #{ deptIdGGG }
	</select>
	
	<select id="getDeptById" parameterType="int" resultMap="resultMapDept">
		SELECT * FROM z40180_deptTB WHERE deptno = #{ deptIdGGG }
	</select>
	
	<select id="getDeptByIdMap" parameterType="java.util.Map" resultMap="resultMapDept">
		SELECT * FROM z40180_deptTB WHERE deptno = #{ deptMap.deptNumber }
	</select>

	<select id="getDeptByIdList" parameterType="java.util.List" resultMap="resultMapDept">
		SELECT * FROM z40180_deptTB  
		<where>
			deptno IN 
			<foreach item="item" collection="deptIdList" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		</where>
	</select>

	<!-- <insert id="addDept" parameterType="fuckDeptVO"> -->
	<insert id="addDept" parameterType="com.ctbc.model.vo.DeptVO">
		INSERT INTO z40180_deptTB ( "dname" , "loc" ) VALUES ( #{ deptVOGGG.deptName } , #{ deptVOGGG.deptLoc } );
	</insert>
	
	<!-- insert後獲得最新主鍵 >>> 成功！ -->
	<!-- <insert id="addDeptReturnLatestKey" parameterType="fuckDeptVO" --> 
	<insert id="addDeptReturnLatestKey" parameterType="com.ctbc.model.vo.DeptVO" 
			useGeneratedKeys="true" keyProperty="deptVOGGG.deptNo" keyColumn="deptno">
		INSERT INTO z40180_deptTB ( "dname" , "loc" ) VALUES ( #{ deptVOGGG.deptName } , #{ deptVOGGG.deptLoc } );
	</insert>
	
	<update id="updateDeptById">
		UPDATE z40180_deptTB 
		<set>
			dname = #{ deptVO.deptName } , loc = #{ deptVO.deptLoc } 
		</set> 
		<where>
			deptno = #{ deptVO.deptNo }
		</where>
	</update>
	
	<delete id="delDeptById" parameterType="Integer">
		DELETE FROM z40180_deptTB WHERE deptno = #{ deptId }
	</delete>
	
	<delete id="delDeptByIdArray" parameterType="int[]">
		DELETE FROM z40180_deptTB 
		WHERE deptno IN 
		<foreach item="item" collection="deptIdsArr" index="ind" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<!-- 批量新增 -->
	<insert id="addDeptsBatch" parameterType="java.util.List">
		INSERT INTO z40180_deptTB ( 'dname' , "loc" ) 
		VALUES 
		<foreach item="perDept" collection="deptList" index="idx" separator=",">
			( #{ perDept.deptName } , #{ perDept.deptLoc } )
		</foreach>
	</insert>
	
	<!-- 批量更新(Sqlite會報錯) -->
	<update id="updateDeptsBatch" parameterType="java.util.List">
		<foreach item="itemDept" collection="deptList" index="ind" separator=";" open="" close="">  
			UPDATE z40180_deptTB
			 <set>  
			 	<if test=" itemDept.deptName != null and itemDept.deptLoc != null ">
			    	dname = #{ itemDept.deptName , javaType=String , jdbcType=VARCHAR },  
			        loc   = #{ itemDept.deptLoc , javaType=String , jdbcType=VARCHAR }
			 	</if>
			 </set>  
			 <where>  
			 	deptno = #{ itemDept.deptNo , javaType=int , jdbcType=INTEGER }
			 </where>  
		</foreach>  
	</update>
	
	<!-- 批量更新(CASE...WHEN) ... 使用 <trim> -->
	<update id="updateDeptsBatchForSqlite" parameterType="java.util.List">
		UPDATE z40180_deptTB
		<trim prefix="SET" suffixOverrides=",">
			<trim prefix="dname = CASE" suffix="END , ">
				<foreach item="itemDept" collection="deptList" index="idx">
					<if test="itemDept.deptName != null">
						WHEN deptno = #{ itemDept.deptNo } THEN #{ itemDept.deptName }
					</if>
				</foreach>
			</trim>
		</trim>
		WHERE
		<foreach item="itemDept" collection="deptList" separator="or" index="idx">
			deptNo = #{ itemDept.deptNo }
		</foreach>
	</update>
	
	<!-- 批量更新(CASE...WHEN) ... 使用 <foreach> (不能更新多個參數, 改下面的寫法) -->
<!-- 	<update id="updateDeptsBatchForSqlite2" parameterType="java.util.List"> -->
<!-- 		UPDATE z40180_deptTB  -->
<!-- 		SET dname =  -->
<!-- 		<foreach item="item" collection="deptList" index="idx" separator=" " open="CASE" close="END"> -->
<!-- 			WHEN deptno = #{ item.deptNo } THEN #{ item.deptName } -->
<!-- 		</foreach> -->
<!-- 		WHERE deptno IN -->
<!-- 		<foreach item="item" collection="deptList" index="idx" open="(" separator="," close=")"> -->
<!-- 			#{ item.deptNo , jdbcType = INTEGER } -->
<!-- 		</foreach> -->
<!-- 	</update> -->
	
	<!-- 批量更新(CASE...WHEN) ... 使用 <foreach> (可更新多個參數=) -->
	<update id="updateDeptsBatchForSqlite2" parameterType="java.util.List">
		UPDATE z40180_deptTB 
        <trim prefix="SET" suffixOverrides=",">
        	<!-- 部門名稱 -->
            <trim prefix="dname = CASE" suffix="END , ">
                 <foreach item="item" collection="deptList" index="idx">
                     <if test=" item.deptName != null and item.deptName != '' ">
                         WHEN deptno = #{ item.deptNo } THEN #{ item.deptName }
                     </if>
                 </foreach>
            </trim>
            <!-- 部門Loc -->
            <trim prefix="loc = CASE" suffix="END,">
                 <foreach item="item" collection="deptList" index="idx">
                     <if test=" item.deptLoc != null and item.deptLoc != '' ">
                         WHEN deptno = #{ item.deptNo } THEN #{ item.deptLoc }
                     </if>
                 </foreach>
            </trim>
        </trim>
		WHERE deptno IN
		<foreach item="item" collection="deptList" index="idx" open="(" separator="," close=")">
			#{ item.deptNo , jdbcType = INTEGER }
		</foreach>
	</update>
	
</mapper>  






